body{background-color: beige;}
#par{color: brown;}
.par1{background-color: bisque;}
.bgp{color: blue;}
/*body {text-align: right;}*/
h2.par1, #par2, h1{
    text-align: center;
}
/* Conbinator selector */
/* li a{background-color: coral;}
div +p{background-color: skyblue;}
div > p{color: orangered;}
div ~ p{color: magent;} */
/**/
/*attribute selectors*/
a[href*="mailto"]{
    background-color: aquamarine;
}
/*Pseudo class selectors for links*/
.qccLink{
    color: azure;
    background-color: blue;
}
.qccLink:visited{
    background-color: rgb(240, 6, 6);
}
.qccLink:hover{
    background-color: darkgreen;
}
.qccLink:active{
    background-color: brown;
}
.hiddenPar{
    color: red;
    background-color: azure;
    display: none;
}
.tooltipDiv:hover .hiddenPar{
      display: block;
}
/*Text and font properties*/
.subtitle{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.intro{font-family:'Franklin Gothic Medium', 'Arial Black', Arial, sans-serif;}
.author{font-size: 50px; font-weight: 900;}
.author1{font-size: 50px; text-shadow: 6px 10px; font-style: italic;}
/* Element properties */
.shadow{
width: 300px;
height: 100px;
text-align: center;
background-color: aqua;
box-shadow: 20px -10px 20px red;
}
.hoverme{
    background-color: coral;
    color: beige;
    box-shadow: 0px 0px 10px 2px gray;
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 1em;
    border-radius: 20px;

}
.hoverme:hover{
    box-shadow: none;
}
/* Cards */
.card{
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 2px gray, 2px 5px 3px lightgray ;
}
.imgcard{width: 100%;}
.cardinfo{text-align: center;}
.card:hover{box-shadow: 0px 0px 3px 1px red;}
.box{
    background-color: aqua;
    border: 10px orange groove;
    margin: 5em;
    padding: 2em;
}